################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonSerializer/JsonSerializerFSharp/obj/Debug
