################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonSerializer/JsonSerializerFSharp/obj/Debug
/JsonSerializer/JsonSerializer/obj/Debug
/JsonSerializer/.vs/JsonSerializer/v15/.suo
